                            <tr class="{% if book.read %}grey-text{% endif %}">
                                <!-- Ячейка номера книги -->
                                <td class="align-middle text-center ps-2">
                                    {{ book.id }}
                                </td>

                                <!-- Ячейка названия книги -->
                                <td class="align-middle text-center">
                                    {{ form.title }}
                                </td>

                                <!-- Ячейка автора книги -->
                                <td class="align-middle text-center">
                                    {{ form.author }}
                                </td>

                                <!-- Ячейка цены книги -->
                                <td class="align-middle text-center">
                                    {{ form.price }}
                                </td>

                                <!-- Ячейка состояния -->
                                <td class="align-middle text-center">
                                    <!-- Кнопка "Read/Unread" -->
                                    <button class="disbtn table-button status-button btn btn-sm {% if book.read %}btn-secondary{% else %}btn-primary{% endif %}"
                                            disabled>
                                        {% if book.read %}Read{% else %}Unread{% endif %}
                                    </button>
                                </td>

                                <!--  Ячейка кнопок действия -->
                                <td class="align-middle text-center">
                                    <!-- Кнопка "Save" -->
                                    <button class="svcnbtn table-button any-button btn btn-success btn-sm me-2"
                                            hx-post="{% url 'update_book_details' book.id %}"
                                            hx-target="closest tr"
                                            hx-swap="outerHTML"
                                            hx-include="closest tr">
                                        Save
                                    </button>
                                    <!-- Кнопка "Cancel" -->
                                    <button class="svcnbtn table-button any-button btn btn-warning btn-sm"
                                            hx-get="{% url 'book_detail' book.id %}"
                                            hx-target="closest tr"
                                            hx-swap="outerHTML">
                                        Cancel
                                    </button>
                                </td>
                            </tr>
